.layout {
    background-color: #F8F8F8;
}

.layout-board {
    margin-bottom: 10px;
    display: flex;
    background-color: #F8F8F8;
}

.nav-section {
    border: 1px solid transparent;
    margin-left: 5px;
    border-radius: 8px;
    min-width: 275px;
}

.nav-header {
    background-color: #e3e7ea;
    display: flex;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 50px;
    padding: 12px 15px 0 15px;
    margin-top: 10px;
}

.nav-header-text {
    align-items: center;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #F8F8F8;
}

nav.MuiList-root.nav-list {
    width: 100%;
    position: relative;
    overflow: auto;
    max-height: 200px;
}

nav.MuiList-root.nav-list.MuiList-padding {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.MuiButtonBase-root.MuiListItem-root.nav-list-item.Mui-selected {
    background-color: #99d6ff;
}

.test-overview-area {
    max-width: 80%;
    margin: 10px 20px;
    flex: 1;
}